@media (max-width:550px){
    #con1{
        display: grid;
        grid-template-areas:       
        'header1'
        'section1'
        'article1'
        'footer1';;
        
    }
   
    .header{
        width: 118vh;
    }
    #mony{
        /* float: left; */
        width: 96vh;
        background-image: url(grupisracrt.png);
        background-repeat: no-repeat;

        
    }
    #mony:hover{
        background-image: url(grupisracrt.png);
        background-repeat: no-repeat;

    }
    #mony ul{
        text-align: center;

    }
    #wel{
        display: none;
        width: 169vw;
    }
    #bbox{
        /* display: none; */
        width: fit-content;

    }
    #boxx p{
        width: 98vh;

    }
    .box img{
        display: none;
    }
    @keyframes ani{
        0% {
            left: 0%;
        }
        100%{
            left: 80%;
        }
    }
    @keyframes ani1{
        0% {
            left:0%;
        }
        100%{
            left:95%;
        }
        
    
}

